body {
  background-color: #525151;
}

.gameBtn {
  width: 160px;
  height: 50px;
  background-color: #ccced6;
  color: #595c6e;
  margin: 5px;
  border-radius: 10px;
  line-height: 45px;
  font-size: 30px;
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
}

.secretBtn {
  visibility: hidden;
}

.gameBtn:hover {
  cursor: pointer;
  background-color: #fff;
}

.gameBtn:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

#game {
  position: absolute;
  top: 0;
  transform-origin: top left;
}

#controls {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 50px;
  display: flex;
}

#board {
  position: absolute;
  top: 80px;
  background-color: #ccced6;
  overflow: hidden;
  border-radius: 30px;
  margin: 10px;
  padding: 20px;
}

#board:focus {
  outline: none;
}
#board svg {
  position: absolute;
  left: 0;
  top: 0;
}
.hex-target {
  fill: #e0e1e6;
}

.hex {
  fill: #aa6065;
  stroke: #8c4b4f;
}

.hex-buffer {
  fill: #5392a5;
  stroke: #427483;
}
.hex-flash {
  fill: #aa6065;
}
.hex-flash.hex-buffer {
  fill: #5392a5;
}

.hex-hl {
  stroke: #4a272a;
}

.hex-hl.hex-buffer {
  stroke: #20383f;
}

#interface {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  top: calc(5% - 10px);
  left: calc(5% - 10px);
  height: 90%;
  width: 90%;
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 62px;
  line-height: 62px;
  z-index: 20;
  background-color: rgba(104, 216, 162, 0.5);
  border: 10px solid #b9edd4;
  border-radius: 50px;
  transform: scale(2) translate(0, 0);
  opacity: 0;
}

#interface-title {
  font-size: 120px;
  font-weight: 700;
  height: 0px;
}

#interface-msg {
  width: 80%;
  text-align: center;
  height: 0;
}
#interface-btns {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.interface-btn {
  font-size: 50px;
  height: 80px;
  line-height: 80px;
  width: 70%;
  border: 10px solid #b9edd4;
  background: rgba(104, 216, 162, 0.5);
  text-align: center;
  border-radius: 30px;
  margin-bottom: 40px;
}

.interface-btn:active {
  transform: scale(0.97);
}

.interface-btn:hover {
  cursor: pointer;
}
